.sareqSection {
  padding: 2.5rem 0;
}

.sareqHeading {
  text-align: center;
}

.sareqBulletList {
  margin-top: 1rem;
  margin-left: 1rem;
  padding-left: 0.75rem;
  line-height: 1.5;
}

@media (min-width: 996px) {
  .sareqBulletList {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
  }
}
